export PATH="$HOME/.local/bin:$PATH"
export PATH="$PATH:/usr/local/go/bin"
export GOPATH="$HOME/go"
export PATH="$PATH:$GOPATH/bin"

autoload -Uz compinit && compinit

HISTSIZE=10000
SAVEHIST=10000
HISTFILE=~/.zsh_history
setopt SHARE_HISTORY

eval "$(starship init zsh)"

alias ll="ls -la"

{{ if eq .chezmoi.os "darwin" -}}
alias update="brew update && brew upgrade"
{{- else if eq .chezmoi.os "linux" -}}
alias update="sudo pacman -Syu"
{{- end }}
