export PATH="$PATH:/usr/local/go/bin"

eval "$(starship init zsh)"

{{ if eq .chezmoi.os "darwin" -}}
alias update="brew update && brew upgrade"
{{- else if eq .chezmoi.os "linux" -}}
alias update="sudo pacman -Syu"
{{- end }}
